!!! Strict
%HTML
  %HEAD
    %META{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %META{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}
    %TITLE Договор №#{@agreement.doc_number}
    :css
      #{Rails.application.assets.find_asset('agreements.scss').source}
  %BODY
    #page_1.page
      .content

        .title Договор №#{@agreement.doc_number}
        .title по предоставлению технической возможности идентификации
        .title пользователей услугами связи

        %table
          %tr
            %td
              г. Москва
            %td.ar
              = l(@agreement.doc_date, format: "«%d» %B %Y г.")

        %p ______________________________________, именуемое в дальнейшем «Абонент»,
        в лице _____________________, действующего на основании Устава, с одной стороны, и Общество с ограниченной
        ответственностью «2ВАЙФАЙ», в лице Генерального директора Гордона Константина Александровича, действующего
        на основании Устава, именуемое в дальнейшем, «Исполнитель», с другой стороны, совместно именуемые «Стороны»,
        а каждый по отдельности – «Сторона», заключили настоящий Договор (далее – Договор) о нижеследующем:
        %p


        .header 1. ОСНОВНЫЕ ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
        %p
          %bСистема идентификации
          – система регистрации идентификационных данных Пользователей с целью авторизации Пользователей,
          в том числе путем направления смс-сообщения с кодом идентификации после обращения устройства Пользователя на доступ к
          сети интернет, производимая Пользователем с целью получения доступа к беспроводной сети Wi-Fi для выхода в
          информационно-коммуникационную сеть Интернет.
          Пользователь - физические лица (в том числе, посетители Помещений Абонента), подключающиеся к беспроводной сети Wi-Fi
          для выхода в информационно-коммуникационную сеть Интернет.
          Помещения Абонента – (наименование объекта) ______________,
          расположенный по адресу ______________________________________________________.
        %p
          %bИдентификационные данные
          – номер телефона, а также mac-адрес устройства Пользователя.
          Прочие услуги – следующие виды оказываемых Исполнителем в адрес Абонента, после получения предварительного согласия
          Пользователей:
          %ul
            %li
              Баннерная реклама при подключении Пользователей к беспроводной сети Интернет в Помещениях Абонента: предоставление
              Абоненту баннерной платформы по показу рекламы Пользователям в браузере Пользователей непосредственно перед
              предоставлением сеансового доступа к сети Интернет. Показ рекламы осуществляется пользователям после прохождения
              обязательной процедуры по идентификации и при последующих подключениях пользователя;
            %li
              СМС Рассылка: Рассылка смс-сообщений на телефонные номера Пользователей, содержащих информацию рекламного характера
              о Абоненте (после получения предварительного согласия Пользователя Исполнителем);
            %li
              Реклама в социальных сетях: Показ рекламы Абонента в социальных сетях по базе данных Пользователей с использованием
              аккаунта социальной сети;
            %li
              Предоставление Абоненту доступа в личный кабинет для получения статистической информации об услугах, в том числе,
              количество Пользователей, количество номеров для возможной отправки SMS, количество аккаунтов для возможной рекламы
              в социальных сетях.
        %p
          %bОтчетный период
          - 1 (один) календарный месяц, в котором производится оказание Услуг по настоящему Договору. В случае оказания Услуг в неполном календарном месяце Отчетным периодом признается период с даты начала по дату окончания фактического оказания Услуг.
        %p
          %bЛицевой счет
          – счетчик, регистр аналитического учета взаиморасчетов Исполнителя с Абонентом за предоставленные Услуги, на котором
          фиксируются платежи Абонента и суммы денежных средств, удержанные (списанные) из данных платежей в качестве оплаты за
          предоставленные Услуги. Лицевой счет имеет уникальный номер.
        %p
          %bВнесение денежных средств на Лицевой счет – платеж Абонента Исполнителю с указанием номера Лицевого счета.
          Платеж может быть осуществлен, безналичным переводом на расчетный счет Исполнителя, переводом с банковской карты или
          с использованием иных способов, предусмотренных законодательством РФ.
        %p
          %bСписание денежных средств с Лицевого счета
          – списание денежных средств из платежей Абонента в качестве оплаты за предоставленные Услуги.
        %p
          %bБаланс лицевого счета
          – разница между двумя суммами денежных средств в определенный момент времени. Первая сумма состоит из денежных средств,
          внесенных на Лицевой счет до данного момента времени; вторая сумма состоит из денежных средств на данный момент времени,
          и денежных средств, списанных с Лицевого счета до данного момента времени.
        %p
          %bЛичный кабинет
          – совокупность логически связанных веб-страниц на сервере Исполнителя, доступная для просмотра из сети Интернет,
          содержащая текст настоящего Договора, описание доступных услуг, способов внесения денежных средств на Лицевой счет,
          справки и инструкции, руководства пользователя, а также статистическую информацию об объеме полученных Услуг и текущем
          состоянии Лицевого счета Абонента. Кроме того, на данной странице также размещаются официальные уведомления Исполнителя
          в адрес Абонента. Доступ в Личный кабинет осуществляется после проведения процедуры Авторизации.
        %p
          %bЗаказ на предоставление Услуги
          (Приложение № 1 к Договору) – Приложение к Договору, заключаемое между Абонентом и Исполнителем, в котором указываются
          точные данные по каждой требующейся прочей Услуге.
        %p
          %bАутентификационные данные
          – уникальный логин (login) и пароль (password) Абонента, используемые для доступа к Личному кабинету.
        %p
          %bАвторизация Абонента
          – процесс анализа введенных Абонентом Аутентификационных данных, по результатам которого определяется наличие у Абонента
          права войти в Личный кабинет.
        %p
          %bСогласие пользователя - пользователь подтверждает свое согласие на показ рекламных материалов соответствующим
          конклюдентным действием непосредственно после прохождения процедуры идентификации Пользователя услугами связи и
          использования им оконечного оборудования.


        .header 2. ПРЕДМЕТ ДОГОВОРА
        %p 2.1 Абонент поручает, а Исполнитель принимает на себя обязательства выполнить работы по организации и поддержанию
          работоспособности Системы идентификации. Под организацией Системы идентификации понимается следующее: организация
          технической возможности автоматизированного сбора Идентификационных данных в отношении Пользователей.
        %p 2.2 Организация Системы идентификации предусматривает автоматизированную систему записи, систематизации, накопления,
          хранения (обновления, изменения), извлечения, использования, передачи, обезличивания, блокирования, а также уничтожения
          Идентификационных данных Пользователей на рабочих мощностях (серверах) Исполнителя.
        %p 2.3 Поддержание работоспособности Системы идентификации заключаются в поддержании работоспособности Системы идентификации
          на программном уровне, а также обеспечение надлежащей обработки Идентификационных данных. Срок хранения Идентификационных
          данных в Системе идентификации Исполнителя определяется Исполнителем самостоятельно, но не может быть менее 5 (пяти) лет
          с момента последнего использования Пользователем беспроводной сети Wi-Fi для выхода в информационно-коммуникационную сеть
          Интернет.
        %p 2.4 В рамках текущего договора, по требованию Абонента, Исполнитель принимает на себя обязательства по оказанию прочих
          Услуг, предусмотренных настоящим Договором. Детализированный перечень Услуг и их стоимость представлены в личном кабинете
          Абонента.


        .header 3. СРОКИ ВЫПОЛНЕНИЯ ОБЯЗАТЕЛЬСТВ
        %p 3.1. Работы по организации Системы идентификации должны быть выполнены Исполнителем в течение 10 (десяти) рабочих дней
          с момента заключения настоящего Договора.
        %p 3.2. Поддержание работоспособности Системы идентификации осуществляется Исполнителем в течение всего срока действия
          настоящего Договора.
        %p 3.3. Прочие услуги могут быть оказаны Исполнителем в течение всего срока действия Договора с момента заключения
          настоящего Договора. В случае изменения перечня Услуг, данное изменение оформляется новым приложением к настоящему Договору.


        .header 4. ПРАВА И ОБЯЗАННОСТИ СТОРОН
        %p 4.1	Абонент обязан:
        %p 4.1.1. Принять результат оказанных услуг или направить Исполнителю мотивированный отказ от приемки в порядке и в сроки, установленные настоящим Договором.
        %p 4.1.2. Оплатить оказанные Исполнителем услуги по настоящему Договору путем перечисления денежных средств на расчетный счет Исполнителя, в порядке, установленном разделом 5 настоящего Договора.
        %p
        %p 4.2	Абонент вправе:
        %p 4.2.1	Осуществлять контроль за процессом оказания услуг Исполнителем, не вмешиваясь при этом в деятельность Исполнителя.
        %p 4.3 Исполнитель обязан:
        %p 4.3.1 Оказать услуги в соответствии с настоящим Договором;
        %p 4.3.2 По окончании Отчетного периода в течение 5 (пяти) рабочих дней направить Абоненту акт оказанных услуг.
        %p 4.3.3 Разместить бренд Абонента в момент обращения Пользователя к Системе Идентификации.
        %p 4.3.4 Обеспечить Систему идентификации, а также соответствующие рабочие мощности (серверы) надлежащим уровнем
          защищенности с целью исключения и недопущения ситуации доступа к Идентификационным данным третьим лицам в отсутствие
          надлежащим образом полученного согласия Пользователей.
        %p 4.3.5. Не производить авторизацию Пользователей в Системе идентификации в отсутствие согласия Пользователя на обработку
          Идентификационных данных.
        %p 4.4.  Исполнитель вправе:
        %p 4.4.1 Требовать от Абонента подписания Акта оказанных услуг и выплаты вознаграждения в порядке и сроки, предусмотренные
          настоящим Договором.
        %p 4.4.2 Отказаться от исполнения обязательств по Договору, предупредив об этом Абонента за 10 (десять) календарных дней
          путем письменного уведомления, направленного по адресу места нахождения Абонента.
        %p 4.4.3. Осуществить показ рекламы сторонней организации при подключении Пользователей к беспроводной сети Интернет в
          Помещениях Абонента после согласования данной возможности с Абонентом. Уведомление о намерении произвести показ рекламы
          сторонней организации производится через Личный кабинет и/или почтовым уведомлением. К уведомлению прилагаются макеты
          рекламной кампании и планируемое количество показов.


        .header 5. СТОИМОСТЬ И ПОРЯДОК ОПЛАТЫ
        %p 5.1. Оказание услуг Исполнителем осуществляется при наличии положительного Баланса лицевого счета Абонента.
        %p 5.2. Расшифровка суммы вознаграждения за Отчетный период формируется в Личном кабинете. Внесение денежных средств на Лицевой счет Абонента и списание денежных средств с Лицевого счета формируют Баланс лицевого счета и отражаются в Личном кабинете Абонента.
        %p 5.3. Вознаграждение Исполнителя за оказание работы по организации и поддержанию работоспособности Системы идентификации рассчитывается из постоянной и переменной части:
          %br- постоянная часть, которая составляет __________ руб. за Отчетный период. НДС не облагается в связи с применением Исполнителем упрощенной системы налогообложения;
          %br- переменная часть, которая рассчитывается как произведение количества смс-сообщений, обработанных Исполнителем при оказании Услуги авторизации за Отчетный период, на стоимость, указанной в Приложении №1 к настоящему Договору, за одно смс-сообщение.
        %p 5.4. В случае показа рекламы сторонней организации согласно пункту 4.4.3., Исполнитель выплачивает Абоненту вознаграждение за предоставленную возможность осуществить показ рекламы сторонней организации из расчета 1 (один) рубль за 1 (один) показ без учета НДС.
        %p 5.5. Сумма, сформированная после завершения рекламной кампании, равная произведению количества фактических показов на основании статистики в Личном кабинете на стоимость за показ, указанную в п. 5.4., будет перечисляться Абоненту  на Лицевой счет через 45 (сорок пять) рабочих дней с даты завершения рекламной кампании.
        %p 5.6. Все расчеты по Договору производятся в безналичном порядке. Обязательства Абонента по оплате считаются исполненными на дату зачисления денежных средств на расчетный счет Исполнителя.
        %p 5.7. В случае, когда невозможность исполнения возникла по обстоятельствам, за которые ни одна из Сторон не отвечает, Абонент возмещает Исполнителю фактически понесенные им расходы в рамках настоящего Договора.


        .header 6. ПОРЯДОК ОКАЗАНИЯ УСЛУГ
        %p 6.1. Датой начала оказания Услуг является дата поступления денежных средств Исполнителю. Сдача-приемка оказанных услуг по настоящему Договору осуществляется по акту приема-передачи оказанных услуг за  отчетный период.
        %p 6.2. Исполнитель в течение 5 (пяти) рабочих дней после окончания Отчетного периода направляет Абоненту для подписания акт приема-передачи оказанных услуг.
        %p 6.3. Абонент в течение 5 (пяти) рабочих дней с даты получения от Исполнителя акта оказанных услуг, обязан рассмотреть и подписать акт оказанных услуг  при отсутствии разногласий. В случае наличия разногласий Абонент направляет в адрес Исполнителя письменную претензию с обоснованием причин невозможности подписания акта оказанных услуг в представляемом Исполнителем виде, а также с указанием замечаний к качеству оказанных Исполнителем услуг.
        %p 6.4.	Исполнитель в срок до 5 (пяти) рабочих дней рассматривает полученную от Абонента претензию и предпринимает все меры для устранения указанных в ней замечаний.
        %p 6.5.	В случае отсутствия возможности устранения замечаний и согласия Исполнителя с фактом их наличия акт оказанных услуг может быть принят в части, согласованной Сторонами.
        %p 6.6.	В случае несогласия Исполнителя с предъявляемыми Абонентом замечаниями, указанными в претензии, Стороны собирают комиссию с целью урегулирования вопросов, представленных в Претензии.
        %p 6.7.	В случае отсутствия письменных претензий в срок, указанный в п. 6.3 Договора, Абонент подписывает акт оказанных услуг и направляет экземпляр Исполнителя в адрес Исполнителя. Подписанный экземпляр акта приема-передачи направляется Исполнителю по почте или курьером.
        %p 6.8.	Услуги считаются принятыми Абонентом после подписания акта приема-передачи оказанных услуг.


        .header 7. ОТВЕТСТВЕННОСТЬ СТОРОН
        %p 7.1. В случае отсутствия работоспособности Системы идентификации на программном уровне, Абонент вправе требовать от Исполнителя уплаты неустойки (пени) за каждый день отсутствия работоспособности Системы идентификации в размере 0,1 % (одна десятая) процентов от постоянной части вознаграждения исходя из расчета на 1 (один) календарный месяц оказания услуг за каждый день просрочки.
        %p 7.2. В случае не предоставления Исполнителем прочих Услуг, Абонент вправе требовать от Исполнителя уплаты неустойки (пени) за каждый день неоказания Услуг в размере 0,1 % (одна десятая) процентов от неуплаченной части вознаграждения.
        %p 7.3. Все пени, штрафы и неустойки выплачиваются на основании предъявленного письменного требования Стороны.
        %p 7.4. Во всех других случаях неисполнения обязательств по Договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.


        .header 8. ФОРС-МАЖОР
        %p 8.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если оно явилось следствием действия обстоятельств непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных условиях обстоятельств: природных стихийных явлений (землетрясений, наводнений и т.д.), действия внешних объективных факторов (военные действия, запретительные акты государственных органов и т.п.), на время действия этих обстоятельств, если эти обстоятельства непосредственно повлияли на исполнение настоящего Договора.
        %p 8.2. Если в результате обстоятельств непреодолимой силы имуществу нанесен значительный, по мнению одной из Сторон, ущерб, то эта Сторона обязана уведомить об этом другую сторону немедленно, после чего стороны обязаны обсудить целесообразность дальнейшего продолжения проведения работ и заключить дополнительное соглашение с обязательным указанием новых сроков, порядка ведения и стоимости работ, которое с момента его подписания становится неотъемлемой частью настоящего договора, либо инициировать процедуру расторжения договора в соответствии с гражданским законодательством Российской Федерации.
        %p 8.3. Если, по мнению Сторон, оказание услуг может быть продолжено в порядке, действовавшем до начала действия обстоятельств непреодолимой силы, то срок исполнения обязательств по настоящему Договору продлевается соразмерно времени, в течение которого действовали обстоятельства непреодолимой силы и их последствия.


        .header 9. СРОК ДЕЙСТВИЯ, ИЗМЕНЕНИЕ И ДОСРОЧНОЕ РАСТОРЖЕНИЕ ДОГОВОРА
        %p 9.1. Настоящий Договор вступает в силу с момента его подписания Сторонами и действует до 31.12.2016.
        %p Договор автоматически продлевается на каждый последующий календарный год, если ни одна из Сторон не уведомит другую о расторжении Договора не менее чем за 30 (тридцать) календарных дней до окончания текущего срока действия Договора.
        %p Изменение и расторжение настоящего Договора производится в порядке, установленном действующим законодательством Российской Федерации, и оформляется письменным соглашением сторон или вынесенным в установленном порядке решением суда.
        %p При расторжении настоящего Договора по соглашению сторон:
          %brАбонент принимает фактически оказанные Исполнителем на момент расторжения настоящего Договора услуги;
          %brв течение 5 (пяти) рабочих дней Стороны оформляют и утверждают документы, предусмотренные разделом 6 настоящего Договора;
          %brв течение 5 (пяти) рабочих дней с момента подписания документов, предусмотренных разделом 6 настоящего Договора, Абонент оплачивает стоимость фактически оказанных Исполнителем Услуг.
        %p Договор считается расторгнутым только при условии урегулирования сторонами материальных и финансовых претензий по выполненным до момента расторжения настоящего Договора обязательствам.
        %p 9.2. Настоящий Договор составлен в двух экземплярах, имеющих равную юридическую силу, по одному экземпляру для каждой Стороны.


        .header 10.	КОНФИДЕНЦИАЛЬНОСТЬ
        %p 10.1.	Стороны принимают на себя безусловное обязательство сохранять в тайне всю информацию, передаваемую ими друг другу в устной, письменной и иной форме, или ставшую им известной вследствие заключения и исполнения Договора. Такая информация считается конфиденциальной и не подлежит разглашению ни одной из сторон (равно как и их правопреемниками) ни устно, ни письменно, ни в какой-либо другой форме прямо или непосредственно третьим лицам, как в период действия Договора, так и после его завершения.
        %p 10.2.	Требования п. 10.1. Договора не распространяются на случаи раскрытия конфиденциальной информации по запросу уполномоченных организаций и в случаях, предусмотренных законодательством Российской Федерации.
        %p 10.3.	Любой ущерб, причиненный стороне несоблюдением требований настоящей статьи Договора, подлежит полному возмещению виновной стороной.


        .header 11.	РАЗРЕШЕНИЕ СПОРОВ
        %p 11.1. Стороны будут стремиться к разрешению всех возможных споров и разногласий, которые могут возникнуть по Договору или в связи с ним, путем переговоров.
        %p 11.2. В случае невозможности разрешения разногласий путем переговоров они подлежат рассмотрению в Арбитражном суде г. Москвы по месту нахождения ответчика.


        .header 12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
        %p 12.1.	Во всем ином, не урегулированном в настоящем Договоре, Стороны будут руководствоваться нормами действующего законодательства Российской Федерации.
        %p 12.2.	Любая договоренность между Сторонами, влекущая за собой новые обязательства, не предусмотренные настоящим Договором, считается действительной, если она подтверждена Сторонами в письменной форме в виде дополнительного соглашения.
        %p 12.3.	Стороны пришли к соглашению, что по денежным обязательствам Сторон по Договору проценты за пользование денежными средствами, предусмотренные ст. 317.1 Гражданского кодекса РФ, не начисляются.


        .header 13.	АДРЕСА МЕСТА НАХОЖДЕНИЯ И РЕКВИЗИТЫ СТОРОН


        %table
          %tr
            %td(width="50%")
              %center
                «____________________»
            %td(width="50%")
              %center
                ООО «2ВАЙФАЙ»
          %tr
            %td Адрес:
            %td Адрес: г. Москва, ул. Баррикадная, д. 8, стр. 5А.

          %tr
            %td ОГРН
            %td ОГРН 1157746756551

          %tr
            %td ИНН
            %td ИНН 7703391689

          %tr
            %td КПП
            %td КПП 770301001

          %tr
            %td ОКПО
            %td ОКПО 47540672

          %tr
            %td Платежные реквизиты:
            %td Платежные реквизиты:

          %tr
            %td
            %td в «ВТБ24» (ПАО), г. Москва

          %tr
            %td р/с
            %td р/с 40702810000000153504

          %tr
            %td к/с
            %td к/с  30101810100000000716

          %tr
            %td БИК
            %td БИК 044525716

          %tr
            %td _____________________
            %td Генеральный директор

          %tr
            %td _____________________ /
            %td К.А. Гордон

        %table
          %tr
            %td(width="50%")
            %td.ar
              Приложение №1 к Договору № ___ от ____________
              по предоставлению технической возможности идентификации
              пользователей услугами связи


        .header 1.	Тарифы на отправку сообщений для осуществления идентификации пользователей.

        %table

          %tr
            %td(width="50%") SMS-сообщения абонентам
            %td(width="50%") Стоимость маршрутизации 1(одного) SMS-сообщения руб. НДС не облагается

          %tr
            %td Мегафон
            %td 1

          %tr
            %td Билайн
            %td 1

          %tr
            %td МТС
            %td 1

          %tr
            %td Теле2 (тариф с 01.12.2015)
            %td 1

          %tr
            %td Екатеринбург 2000 (Мотив)
            %td 1

          %tr
            %td Смартс
            %td 1

          %tr
            %td Скартел (Yota)
            %td 1

          %tr
            %td Скайлинк/Сотел
            %td 1

          %tr
            %td СНГ
            %td 1,70

          %tr
            %td Зарубежные операторы
            %td 2,50


        %p
          * В соответствии с Правилами предоставления услуг, сообщение, имеющее итоговую длину свыше 160 символов в
          латинице или свыше 70 символов в кириллице, считается длинным и разделяется на несколько коротких SMS-сообщений
          (до 150 символов в латинице или до 66 символов в кириллице) и тарифицируется как необходимое число коротких
          сообщений, необходимых для отправки длинного сообщения.


        %table
          %tr
            %td(width="50%") АБОНЕНТ:
            %td(width="50%") ИСПОЛНИТЕЛЬ:

          %tr
            %td ______________________
            %td ООО «2ВАЙФАЙ»

          %tr
            %td ______________________
            %td Генеральный директор

          %tr
            %td
            %td

          %tr
            %td ____________________ /
            %td _________________/ К.А. Гордон

          %tr
            %td м.п.
            %td м.п.


        .header 2. Тарифы на отправку сообщений для осуществления SMS рассылки.

        %table

          %tr
            %td(width="50%") SMS-сообщения абонентам
            %td(width="50%") Стоимость маршрутизации 1(одного) SMS-сообщения руб. НДС не облагается

          %tr
            %td Мегафон
            %td 2

          %tr
            %td Билайн
            %td 2

          %tr
            %td МТС
            %td 2

          %tr
            %td Теле2 (тариф с 01.12.2015)
            %td 2

          %tr
            %td Екатеринбург 2000 (Мотив)
            %td 2

          %tr
            %td Смартс
            %td 2

          %tr
            %td Скартел (Yota)
            %td 2

          %tr
            %td Скайлинк/Сотел
            %td 2

          %tr
            %td СНГ
            %td 2,50

        %p * В соответствии с Правилами предоставления услуг, сообщение, имеющее итоговую длину свыше 160 символов в латинице или свыше 70 символов в кириллице, считается длинным и разделяется на несколько коротких SMS-сообщений (до 150 символов в латинице или до 66 символов в кириллице) и тарифицируется как необходимое число коротких сообщений, необходимых для отправки длинного сообщения.

        %table
          %tr
            %td(width="50%") АБОНЕНТ:
            %td(width="50%") ИСПОЛНИТЕЛЬ:

          %tr
            %td ______________________
            %td ООО «2ВАЙФАЙ»

          %tr
            %td ______________________
            %td Генеральный директор

          %tr
            %td
            %td

          %tr
            %td ____________________ /
            %td _________________/ К.А. Гордон

          %tr
            %td м.п.
            %td м.п.

